<div class="container">
    <div class="row">
        <div class="card card-block m-5">
            <div id="notfound">
                <div class="inner cover">
                    <h2 class="cover-heading">Oops.. Pagina não encontrada</h2>
                    <p class="lead">Verifique se o endereço acessado está correto e tente novamente ou clique no botão abaixo para voltar</p>
                    <p class="lead">
                        <a href="javascript:;" class="btn btn-lg btn-secondary" (click)="goBack()"><i class="fa fa-arrow-left"></i> Voltar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>